body {
    background-color: beige;
}

#container {
    width: 800px;
}

#playingArea {
    height: 400px;
    background-color: #add8e6;
    border-bottom: 30px solid blue;
    position: relative;
    overflow: hidden;
}

#ship {
    width: 140px;
    height: 36px;
    background-image: url("ship.png");
    position: absolute;
    top: 364px;
    left: 330px;
}

#cloud {
    width: 100px;
    height: 53px;
    background-image: url("cloud.png");
    position: absolute;
    top: 0px;
    left: -100px;
}

#plane {
    width: 75px;
    height: 75px;
    background-image: url("plane.png");
    position: absolute;
    top: 53px;
    left: 800px;
}

#bolt {
    width: 50px;
    height: 59px;
    background-image: url("bolt.png");
    position: absolute;
    top: 0px;
    left: -50px;
}

#dynamite {
    width: 50px;
    height: 50px;
    background-image: url("dynamite.png");
    position: absolute;
    top: 53px;
    left: 800px;
}

#explosion {
    width: 140px;
    height: 123px;
    background-image: url("explosion.png");
    position: absolute;
    top: 277px;
    left: -140px;
}

#gameOverMessage {
    display: none;
    font-size: 30px;
    text-align: center;
    line-height: 400px;
}

#instructions-score {
    overflow: auto;
    font-size: 24px;
}

#instructions {
    float: left;
}

#score {
    float: right;
}

.missile {
    width: 16px;
    height: 49px;
    background-image: url("missile.png");
    position: absolute;
}
